html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 25px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-bottom: 60px;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
#obalka {
    width: 10%;
}

#obalka {
    transition: transform 1s ease;
}
#obalka:hover {
        transform: scale(1.5);
    }