html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 25px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  background-color:lavenderblush;
}

body {
    max-width: 95vw;
    margin: 0 auto;
}
main{
    min-height: 60vh;
    padding: 10px;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
#obalka {
    width: 10%;
}

#obalka {
    transition: transform 1s ease;
}
#obalka:hover {
        transform: scale(1.5);
    }
#navigace li{
    font-weight:bolder;
    border: 5px solid black;
    margin-right:5px;
}
#navigace li:hover{
    background-color:burlywood;
}

.maturitniCetba {
    text-align: center;
    background-color:peachpuff;
}

/* Kniha detail – carousel */
.carousel-item img {
    max-height: 60vh; /* výška karuselu */
    width: auto; /* nedeformuje obrázek */
    margin: 0 auto; /* zarovnání doprostøed */
    object-fit: contain; /* obrázek bude celý */
}